*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body,html {
    width: 100%;
    height: 100%;
    background: #F8F8F8 ;
    box-sizing:border-box;
}
a{
    display:block;
    width:100%;
}
#body-wrapper{
    width: 90%;
    min-height: 100%;
    margin: 0 auto 0 auto ;
    background: #F8F8F8;
}
#header-wrapper{}
#content-wrapper{
    
    width:100%;
    padding-left:200px;
    position:relative;
    overflow:hidden;
    min-height:600px;
    transition :all 0.5s ;
}
#side-bar{
    width :200px;
    margin-left:-200px;
    position :absolute;
    min-height:100%;
    font-size:18px;
    transition :all 0.5s ;
}
.col-xs-12, .col-sm-6 ,.col-lg-4{
    margin:0 0 ;
    padding:0 0 ;
}

.product {
    margin:0 0 ;
    padding:2% 2%;
    height:400px;
    text-align:center;
    font-size:20px;
   
}
.product h3{
        color:#0A5292;

}
.product a{
    height:100%;
    width:100%;
}

.productImage{
height:60%;
width:90%;
}
.page-header{
height:100%;
}
.page-header img {

    display:inline-block;
   vertical-align: middle;
  
}
.navbar-form {
margin-top:18px;
}
.page-header   h3{
    height:100%;
    float:right;
     font-size:42px;
    margin-right:30px;
    padding-top:45px;
    padding-bottom:0;
    vertical-align :middle;
}
#content{
    padding:0 0 0 0 ;
    position:relative;
}
price , .price{
        color:#63de2d;

}
#footer-wrapper{}
.sidebar-nav{
    margin :0;
    padding :0;
    width:100%;
    color:#0A5292;
}
#collapsebtn{
    width:50px;
    float:right;
}
#magicbar{
    width :50px;
    height:100%;
    position:absolute;
    top:0%;
    display:none;
    transition:all 1s;
    
   
}
#content-wrapper.toggle{
    padding-left:50px;
}
#content-wrapper.toggle #side-bar{
    width :0;
}
ul li{
    list-style:none;

}
ul li a{
    display:block;
    text-decoration:none;
}
#content-wrapper.toggle #magicbar{
    display:block;
    margin-left:-50px;
}
.main-category{
    color:#0A5292;
    font-size:20px;
    border:#eee solid 2px; 
    border-top:none;
border-right:none;
 border-left:none;
}
a.main-category:link   {
   text-decoration:none;
     color:#0A5292;
}
a.main-category:visited{
 text-decoration:none;
     color:#63de2d;
}
a.main-category:hover{
text-decoration:none;
     color:#0A5292;
}
a.main-category:active   {
   text-decoration:none;
     color:#63de2d;
 }
.product a:link , .product a:visited,.product a:hover , .product a:active{text-decoration:none;}
.sub-category{

font-size:18px;
height:0;
overflow: hidden;
transition :all 0.5s;
}
.hide-category{
 height:auto;
 padding-top:5px;  
}
.navbar ,.navbar-default{
    border-right:none;
    border-left:none;
    border-top:none;
    border-radius:0;
    font-size:18px;
    color:blue;
    text-align:center;
    float:none;  
    margin:0 0 ;
}
.navbar-toggle ,.collapsed{
margin-top:29px;
margin-left:10px;
}
navbar-toggle collapsed.navbar-default .navbar-nav > li {
        float: none;
        display: inline-block;
    }
.navbar-default .navbar-nav > li > a {
    
    color:#0A5292;

}
.navbar-default .navbar-nav > li >  a:focus {
    
    color:#0A5292;

}
.navbar-default .navbar-nav > li > a:hover ,a:visited {
    
    color:#63de2d;

}
.btn ,.btn-default , .form-control{
    color:#0A5292;
    background-color:#F8F8F8;

}
.input-group{
    border-radius:0;

}
